.formulario-container {
  width: 50vw;
  margin: 50px auto;
  background-color: #d291bc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.formulario-nombre {
  font-size: 50px;
}
fieldset {
  border: 2px solid #52a8bd;
  padding: 20px;
}
fieldset legend {
  font-size: 1.5em;
  color: limegreen;
}
.roles {
  margin: 20px 0;
}
.roles label {
  display: block;
  padding: 5px;
  font-size: 1.2em;
}
.roles label:nth-child(1) {
  background-color: #add8e6;
}
.roles label:nth-child(2) {
  background-color: #87ceeb;
}
.roles label:nth-child(3) {
  background-color: #4682b4;
}
.roles label:nth-child(4) {
  background-color: #ffa07a;
}
.roles label:nth-child(5) {
  background-color: #f08080;
}
.roles label input {
  margin-right: 10px;
}
button {
  background-color: white;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  color: black;
}
.olvidar-contrasena {
  font-size: 30px;
}
