Options +FollowSymLinks 

RewriteEngine on

RewriteRule ^home?$ home.php
RewriteRule ^details/([a-zA-Z0-9._-]+)/?$ details.php?slug=$1 
RewriteRule ^auth/?$ auth/AuthController.php 
RewriteRule ^resources/?$ auth/productController.php 



